<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyTabs | Username</title>
    <link rel="stylesheet" href="/static/CSS/main.css"/>
    <link rel="stylesheet" href="/static/CSS/desktop/desktop.css">
    <link rel="stylesheet" href="/static/CSS/all.min.css">
</head>
<body>
    <div class="topnav cols2">
        <div class="brand"><small><h3>MyTabs</small> | Username</h3></div>
        <div class="links"><h3 class="title" id="tabname">Desktop</h3></div>
    </div>
    
    <section class="app">
        <div class="space"></div>
        <div class="tabs">
            <section id="desktop" class="full">
                <div class="tab desk tab_active">
                <div id="p_todos">
                    <h3 class="title">Todos</h3>
                    <ul id="todolist">
                        <!--delete and complete button-->
                        <li class="todo" onclick="view_todo()">Index page</li>
                        <li class="todo">Complete Nest</li>
                        <li class="todo">Add report module in OcV</li>
                        <li class="todo">Learn C and C++</li>
                    </ul>
                    <button class="floating"><i class="fa fa-plus"></i></button>
                    <form class="add_todo">
                        <input type="text" class="text" name="todo" placeholder="Add todo.."/>
                        <button class="send">Add</button>
                    </form>
                </div>
                <div class="min_tab">
                    <h3 class="title">Playing</h3>
                    <div class="song_details" id="p_current_playing">
                    </div>
                    <div class="controls">
                        <button class="controll"><i class="fa fa-play"></i></button>
                        <button class="controll"><i class="fa fa-pause"></i></button>
                    </div>
                    <div class="playlist">
                        <h3 class="title">Playlist</h3>
                        <div id="curr_playlist">
                        </div>
                    </div>
                </div>
                </div>
            </section>

            <section class="full" id="music">
                <div class="tab music">
                    <div class="curr_song">
                        <!--<audio class="curr_song" src=""></audio>-->
                        <div class="song_title">
                            <h3 class="title" id="curr_song_title">Song Title</h3>
                            <button class="controls" onclick="volumeDown()"><i class="fa fa-volume-down"></i></button>
                            <button class="controls" onclick="volumeUp()"><i class="fa fa-volume-up"></i></button>
                            <div class="main">
                                <button class="controls"><i class="fa fa-backward"></i></button>
                                <button class="controls" onclick="playSong()" id="play_audio"><i class="fa fa-play"></i></button>
                                <button class="controls hidden" onclick="pauseSong()" id="pause_audio"><i class="fa fa-pause"></i></button>
                                <button class="controls"><i class="fa fa-forward"></i></button>
                                <audio class="audio" id="curr_song" ontimeupdate="updateCurrentMediaTime()" src="/media/home/antony/Music/Kenyan/Nyashinski - Balance.mkv"></audio>
                            </div>
                            <button class="controls"><i class="fa fa-heart"></i></button>
                            <div class="timmer"></div>
                        </div>
                    </div>
                    <div id="musiclist">
                        <h3 class="title">Songs</h3>
                        <ul class="musiclist">
                            <li><i class="fa fa-music"></i>Song One</li>
                            <li><i class="fa fa-music"></i>Song Two</li>
                            <li><i class="fa fa-music"></i>Song Three</li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <section class="full" id="videos">
                <div class="tab" >
                <div id="videolist"></div>
                <div id="curr_video"></div>
                </div>
            </section>
        </div>
        <div class="space"></div>
    </section>

    <div class="bottomnav">
        <div class="page_select">
            <a href="#desktop"><button class="b_nav"><i class="fa fa-home"><small>Home</small></i></button></a>
            <a href="#music"><button class="b_nav"><i class="fa fa-music"><small>Music</small></i></button></a>
            <a href="#videos"><button class="b_nav"><i class="fa fa-video"><small>Videos</small></i></button></a>
        </div>
    </div>


   <!-- <div class="view_todo">
        <div class="title">Test Todo</div>
        <div class="content">
            <ul class="subtasks">
                <li>
                    <small>Subtask One</small>
                    <div class="sub_action">
                        <button><i class="fa fa-check"></i></button>
                        <button class="danger"><i class="fa fa-trash"></i></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="actions">
            <button><i class="fa fa-check"></i><small>Done</small></button>
            <button class="danger"><i class="fa fa-trash"></i><small>Delete</small></button>
        </div>
    </div>
    -->
    <div class="cover" id="cover" onclick="hide_view_todo()"></div>
</body>
<script src="/static/JS/desktop.js"></script>
<script src="/static/JS/mutimedia.js"></script>
<script src="/static/JS/dom.js"></script>
</html>