<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyApp</title>
    <link rel="stylesheet" href="/static/CSS/main.css">
    <link rel="stylesheet" href="/static/CSS/all.min.css">
    <link rel="stylesheet" href="/static/CSS/index/index.css">
</head>
<body>
    <section class="full landing" style="background-image: url('/static/Images/My_Tabs.png');">
        <div class="container">
            <div class="slider">
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>
            </div>
        </div>
    </section>
    <section class="full app">
        <div class="container">
            <div class="features">
                <div class="feature">
                    <h3 class="title">Todos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="feature">
                    <h3 class="title">Entertainment</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quas!</p>
                </div>
                <div class="feature">
                    <h3 class="title">Personalization</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, praesentium?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="full developer">
        <div class="container">
            <!--Image-->
            <h3 class="title">Antony Kaigi</h3>
            <p>My_App is developed and maintained by</p>
        </div>
    </section>
</body>
</html>