@import './global/global.scss';
*{
    padding:0px;
    margin:0px;
}

//ap defaults

//scrollbar 
::-webkit-scrollbar{
    width:6px;
    background:$shadow;
}
::-webkit-scrollbar-thumb{
    width:7px;
    border-radius: 5px;
    background:$accent;
}
//links
a{
    text-decoration: none;
}


//

body{
    overflow-x: hidden;
    background:lightgray;
}



section.full{
    position: relative;
    height:100vh;
    width:100vw;
}
div.container{
    position: relative;
    height:70%;
    width:90%;
    @include middle;
}
.cols2{
    display:grid;
    grid-template-columns:1fr 1fr;
}
h3.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 15px;
    padding:5px;
}

button{
    outline:none;
    border:1px solid $accent;
    background:white;
    color:$accent;
    transition:1s;
    i.fa{
        margin:5px;
    }
    small{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
}
button:hover{
    border:1px solid $shadow;
    background: $accent;
    color:$primary;
}
button.danger{
    color:crimson;
}
button.danger:hover{
    background:crimson;
    color:white;
}
//add success