
//colors
$background:white;
$forergroung:lightseagreen;

//screen_sizes
//medium->1000-2000px
//large->2000 and above

@mixin middle {
    left:50%;top:50%;
    transform: translate(-50%,-50%);
}

@mixin center_h {
    left:50%;
    transform: translateX(-50%);
}

@mixin center_v{
    top:50%;
    transform: translateY(-50%);
}