body {
  overflow: hidden;
}

input, button {
  outline: none;
}

div.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(10, 10, 10, 0.4);
          box-shadow: 1px 1px 2px 2px rgba(10, 10, 10, 0.4);
  z-index: 10;
  background: white;
}

div.topnav div.brand {
  padding: 10px;
  font-family: Arial;
  color: #0983E3;
}

div.topnav div.brand h3 {
  font-weight: lighter;
}

div.topnav div.brand h3 small {
  font-size: 12px;
  font-family: monospace;
}

div.bottomnav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  z-index: 10;
  background: whitesmoke;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(10, 10, 10, 0.3);
          box-shadow: 1px 1px 5px 5px rgba(10, 10, 10, 0.3);
}

div.bottomnav div.page_select {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 600px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

div.bottomnav div.page_select button.b_nav {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px;
  border: 1px solid #0983E3;
  height: 50px;
  width: 50px;
  font-size: 12px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

div.bottomnav div.page_select button.b_nav small {
  display: none;
  margin: 5px;
}

div.bottomnav div.page_select button.b_nav:hover {
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
}

div.bottomnav div.page_select button.b_nav:hover small {
  display: inline;
  font-size: 15px;
}

div.bottomnav div.page_select button.active {
  background: #0983E3;
  color: white;
}

div.app {
  position: relative;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

div.space {
  height: 40px;
}

div.tabs {
  position: relative;
  height: 80%;
  width: 96%;
  margin-top: 10px;
  display: inline-block;
}

div.tab {
  position: relative;
  width: 96%;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.tab_active {
  visibility: visible;
}

div.desk {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  padding: 5px;
  background: whitesmoke;
}

div.p_todos {
  border-right: 1px solid #0983E3;
}

ul#todolist {
  list-style-type: none;
  padding: 15px;
  margin: 0px 5px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul#todolist li.todo {
  margin: 10px 0px;
  background: #e6e6e6;
  padding: 10px;
  border-radius: 20px;
  font-family: sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul#todolist li.todo:hover {
  background: whitesmoke;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(10, 10, 10, 0.3);
          box-shadow: 1px 1px 5px 5px rgba(10, 10, 10, 0.3);
}

div.view_todo {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  height: 400px;
  width: 500px;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
}

div.view_todo div.title {
  background: #0983E3;
  color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

div.view_todo div.content ul.subtasks {
  list-style: none;
}

div.view_todo div.content ul.subtasks li {
  padding: 10px;
  margin: 10px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

div.view_todo div.content ul.subtasks li small {
  font-family: Arial;
  font-size: 16px;
}

div.view_todo div.content ul.subtasks li div.sub_action button {
  border: none;
  margin: 0px 10px;
}

div.view_todo div.actions {
  background: #0983E3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.cover {
  position: absolute;
  display: none;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(10, 10, 10, 0.3);
  z-index: 99;
}

button.floating {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  height: 50px;
  width: 50px;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 50%;
  background: none;
  border: none;
  color: #0983E3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button.floating:hover {
  font-size: 40px;
}

form.add_todo {
  text-align: center;
  display: none;
}

form.add_todo input, form.add_todo button {
  padding: 10px;
}

form.add_todo input {
  min-width: 300px;
  border-radius: 20px;
  border: 1px solid black;
}

div.music {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  background: whitesmoke;
}

div.song_title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(10, 10, 10, 0.7);
  padding: 20px;
  text-align: center;
}

div.song_title h3.title {
  color: white;
}

div.song_title div.main {
  padding: 0px 10px;
  display: inline;
}

div.song_title button.controls {
  background: none;
  color: white;
  border: none;
  margin: 0px 10px;
}

div.curr_song {
  position: relative;
  background-image: url("/static/Images/audio.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

ul.musiclist {
  list-style-type: none;
  padding: 10px;
}

ul.musiclist li {
  padding: 5px;
  margin: 10px 0px;
}

ul.musiclist li i {
  margin: 0px 10px;
}

div.min_tab {
  border-left: 2px solid lightgray;
}

div.song_details {
  height: 200px;
  background-image: url("/static/Images/audio.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.controls {
  padding: 10px;
  margin-top: -50px;
  background: rgba(10, 10, 10, 0.3);
  text-align: center;
}

div.controls button.controll {
  padding: 5px;
}
/*# sourceMappingURL=desktop.css.map */