@import '../global/global.scss';
//defaults
body{
    overflow: hidden;
}
input,button{
    outline:none;
}

//navbars
div.topnav{
    position: fixed;
    top:0px;left:0px;
    width:100vw;
    box-shadow: 1px 1px 2px 2px rgba(10,10,10,0.4);
    z-index:10;
    background:white;
    div.brand{
        padding:10px;
        font-family: Arial;
        color:$accent;
        h3{
            font-weight: lighter;
            small{
                font-size: 12px;
                font-family: monospace;
            }
        }
    }
}
div.bottomnav{
    position: fixed;
    bottom:0px;left:0px;
    width:100vw;
    z-index:10;
    background:$primary;
    box-shadow: 1px 1px 5px 5px $shadow;
    div.page_select{
        position: relative;
        @include center_h;
        max-width: 600px;
        padding:5px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        button.b_nav{
            position: relative;
            @include center_h;
            padding:5px;
            border:1px solid $accent;
            height: 50px; width:50px;
            font-size: 12px;
            border-radius: 50%;
            outline: none;
            transition:0.5s;
            small{
                display: none;
                margin:5px;
            }
        }
        button.b_nav:hover{
            width:100px;
            border-radius: 20px;
            font-size: 15px;
            small{
                display: inline;
                font-size: 15px;
            }
        }
        button.active{
            background:$accent;
            color:white;
        }
    }
}


//app
div.app{
    position: relative;
    height:100vh;
    width:100vh;
    overflow: hidden;
}
div.space{
    height:40px;
}
div.tabs{
    position: relative;
    height:80%;width:96%;
    margin-top:10px;
    display: inline-block;
    //responsive -- display flex, overflow-scroll
}

div.tab{
    position: relative;
    width:96%;height:80%;
    @include middle;
    //responsive - border-radius 20px;
}
div.tab_active{
    visibility: visible;
}

//different tabs
//notificatons tab
div.desk{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding:5px;
    background:$primary;
}
div.p_todos{
    border-right: 1px solid $accent;
}
//todo list
ul#todolist{
    list-style-type: none;
    padding:15px;
    margin:0px 5px;
    height: 300px;
    overflow-y:scroll;
    overflow-x:hidden;
    li.todo{
        margin:10px 0px;
        background: rgb(230,230,230);
        padding:10px;
        border-radius: 20px;
        font-family: sans-serif;
        transition:0.3s;
    }
    li.todo:hover{
        background:$primary;
        box-shadow: 1px 1px 5px 5px $shadow;
    }
}

//active todo
div.view_todo{
    position: fixed;
    @include middle;
    z-index: 100;
    height:400px;
    width:500px;
    background:white;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    div.title{
        background: $accent;
        color:white;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        padding:10px;
    }
    div.content{
        ul.subtasks{
            list-style: none;
            li{
                padding:10px;
                margin:10px 0px;
                display: grid;
                grid-template-columns: 3fr 1fr;
                small{
                    font-family: Arial;
                    font-size: 16px;
                }
                div.sub_action{
                    button{
                        border:none;
                        margin:0px 10px;
                    }
                }
            }
        }
    }
    div.actions{
        background:$accent;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
div.cover{
    position: absolute;
    display: none;
    top:0px;
    height:100vh;
    width:100vw;
    background:$shadow;
    z-index: 99;
}



button.floating{
    position: relative;
    @include center_h;
    font-size: 30px;
    height:50px;
    width:50px;
    padding:5px;
    padding-bottom: 10px;
    border-radius: 50%;
    background:none;
    border:none;
    color:$accent;
    transition:0.3s;
}
button.floating:hover{
    font-size: 40px;
}
form.add_todo{
    text-align: center;
    display: none;
    input,button{
        padding:10px;
    }
    input{
        min-width:300px;
        border-radius: 20px;
        border:1px solid black;
    }
}


//music tab
div.music{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background:$primary;
}
div.song_title{
    position: absolute;
    bottom: 0px;
    width:100%;
    background:rgba(10,10,10,0.7);
    padding:20px;
    text-align: center;
    h3.title{
        color:white;
    }
    div.main{
        padding:0px 10px;
        display: inline;
    }
    button.controls{
        background:none;
        color:white;
        border:none;
        margin:0px 10px;
    }
    button.hidden{
        display: none;
    }
}
div.curr_song{
    position: relative;
    background-image: url('/static/Images/audio.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
ul.musiclist{
    list-style-type: none;
    padding:10px;
    max-height: 300px;
    overflow-y:scroll;
    overflow-x:hidden;
    li{
        padding:10px 5px;
        margin:10px 0px;
        transition:1s;
        i{
            margin:0px 10px;
        }
    }
    li:nth-child(even){
        background:lightgray;
    }
    li:hover{
        background:$accent;
        color:white;
        cursor: pointer;
    }
}

audio{
    display: none;
}

div.timmer{
    height:3px;
    width:800px;
    background:$accent;
    position: absolute;
    margin-top:10px;
}


//video tab
div.video_tab{
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow:hidden;
    video.curr_video{
        position: relative;
        max-width: 100%;
        max-width: 100%;
        @include center_h;
    }
    div.video_title{
        z-index:10;
        div.controls{
            margin-top:-10px;
            button.control,div.main{
                display: inline;
            }
            button.control{
                border:none;
                background:none;
                color:$primary;
            }
            div.main{
                margin:0px 30px;
            }
            button.hidden{
                display: none;
            }
        }
    }
}
div.screen{
    display: grid;
    grid-template-rows: 3fr 1fr;
}



//min-tab
div.min_tab{
    border-left: 2px solid lightgray;
}
div.song_details{
    height:200px;
    background-image:url('/static/Images/audio.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    video.curr_playing{
        max-height:300px;
        width:auto;
    }
    .hidden{
        display: none;
    }
}
div.controls{
    padding:10px;
    margin-top:-50px;
    background:$shadow;
    text-align: center;
    button.controls{
        background:none;
        color:white;
        border:none;
        margin:0px 10px;
    }
}